
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-b:lightblue;
  --white:#fff;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: steelblue;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0; 
}

.countainer {
  background-color: rgb(0, 0, 0 , 0.4);
  padding: 20px 40px;
  border-radius: 4px;
}

.countainer h1 {
  text-align: center;
  margin-bottom: 30px;
  
}


.countainer a {
  text-decoration: none;
  color: var(--light-b);
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: var(--light-b);
  width: 100%;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.text {
  margin-top: 30px;
}
.btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px var(--white) solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: var(--white);
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: var(--light-b);
}

.form-control label {
  position: absolute;
  left: 0;
  top: 15px;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}


.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--light-b);
  transform: translateY(-30px);
}