body {
  margin: 0;
  color: #FFBD69;
  overflow-x: none;
  text-align: center;
  background-color: #191A19;
  font-size: 1em;
  /* font-family:fantasy, sans-serif; */
  /* font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; */
}

h1 {
  margin:0px auto;
  font-size: 3em;
}

h2 {
  font-weight: normal;
}

hr,.skill-row1 {
  color:darkgray;
}

a {
  text-decoration: none;
  padding: 1%;
  color:  #191a19;
  border-radius: 25%;
}

hr {
    width: 12%;
    border-style: none;
    border-bottom-style: dotted;
    border-bottom-width: 10px;
}

.top-place {
    font-family: 'Updock', cursive;
    position: relative;
    padding-top: 60px;
}



.p {
  line-height: 2;
}

.intro {
 width: 30%;
 margin: auto;
 padding-bottom: 3%;
}

.cloud-down {
  position: absolute;
  left: 23%;
  width: 13%;
}

.cloud {
  position:absolute;
  right: 19%;
  width: 13%;
}

.mo {
  width: 48%
}

.t {
  visibility: hidden;

}

.b,.y,.r {
  width:111px;
  height:150px;
}

.y {
  margin:-150px -5px -50px 111px;
  background-color: white;
}

.r {
  margin:0px 1px 0px 0px;
  background-color: blue;
}

.b {
  margin:-150px -15px 0px 222px;
  background-color: red;
}

.y:hover{
  background-color: yellow;
}

.meddle {

}

.my {
  visibility: hidden;
}

.skills {

    line-height: 2;
}

.skill-row1 {
  width: 50%;
  margin: 12% auto;
  text-align: left;

}

.coding {
  width:39%;
  float: right;

}

.gamee {
  width: 39%;
  float: left;
  padding-right: 30px;
}

.p-up{
  clear:right;
}

.contact-me {
  margin-bottom: 62px;

}

.footer {
  background-color: darkgray;
  padding-bottom: 1%;
  padding-top:2%;
}

.p-down {
  clear: left;
}

.p-footer{
  margin-bottom: 8%;
}

.end {
  color: #191a19;
  font-size: 0.88em;
}

.btn {
  background: darkgray;
  background-image: -webkit-linear-gradient(top, darkgray, darkgray);
  background-image: -moz-linear-gradient(top, darkgray, darkgray);
  background-image: -ms-linear-gradient(top, darkgray, darkgray);
  background-image: -o-linear-gradient(top, darkgray, darkgray);
  background-image: linear-gradient(to bottom, darkgray, darkgray);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #FFBD69;
  background-image: -webkit-linear-gradient(top, #FFBD69, darkgray);
  background-image: -moz-linear-gradient(top, #FFBD69, darkgray);
  background-image: -ms-linear-gradient(top, #FFBD69, darkgray);
  background-image: -o-linear-gradient(top, #FFBD69, darkgray);
  background-image: linear-gradient(to bottom, #FFBD69, darkgray);
  text-decoration: none;
}
